@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=block');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

* {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-400
}

body {
  @apply relative min-h-full bg-neutral-800 text-gray-100 font-sans antialiased
}

a {
  @apply focus:outline-none focus:ring-0
}

/* Change autofill color */
input:-webkit-autofill {
	-webkit-text-fill-color: theme('colors.gray.800') !important;
}